body {
  font-family: Tahoma;
  margin: 0;
  padding: 0;

  article {
    margin: 0 auto;
    width: 1024px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .clear {
    clear: both;
  }
}
