.nav {
  background: $blue-dark;
  height: 35px;
  width: 100%;

  .nav-wrapper {
    margin: 0 auto;
    width: 1024px;

    .menu {
      float: left;
    }

    ul {
      li {
        float: left;
        padding: 5px 10px;
        text-align: center;
        width: auto;
      }
    }

    a {
      color: $white;
      text-decoration: none;
    }

    .extra {
      padding: 5px 0;
      float: right;
      color: $green-dark;
    }
  }
}
