ul.my_projects {
  background: $blue-light;
  border-radius: 5px;
  float: left;
  height: auto;
  margin-right: 30px;
  width: 200px;

  li {
    border-bottom: 1px solid $blue-dark;

    a {
      background: $blue-light;
      color: $white;
      display: block;
      padding: 10px;
      text-decoration: none;
      width: 180px;;
    }

    a:hover {
      background: $blue-dark;
    }
  }

  li:first-child {
    a {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
  }

  li:last-child {
    border-bottom: none;

    a {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}

.project {
  float: right;
  width: 790px;
}